################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Algoritmos.Consola/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Algoritmos.Consola/obj/Debug/Algoritmos.Consola.pdb
/Algoritmos.Consola/obj/Debug/Algoritmos.Consola.exe
/Algoritmos.Consola/obj/Debug/Algoritmos.Consola.csprojAssemblyReference.cache
/Algoritmos.Consola/obj/Debug/Algoritmos.Consola.csproj.FileListAbsolute.txt
/Algoritmos.Consola/obj/Debug
/Algoritmos.Consola/bin/Debug/Algoritmos.Consola.pdb
/Algoritmos.Consola/bin/Debug/Algoritmos.Consola.exe.config
/Algoritmos.Consola/bin/Debug/Algoritmos.Consola.exe
/Algoritmos.Consola/bin/Debug
